<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Fav animal:</b>
  <%= @user.fav_animal %>
</p>

<% @user.images.each do |img| %>
  <p>
  <%= image_tag img.photo.url(:thumbnail) %>
  </p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
